$clr-primary: #ff7d1a;
$clr-secondary: #ffede0;
$clr-neutral: hsl(220, 13%, 13%);
$clr-neutral-1: #68707d;
$clr-neutral-2: #808080be;
$clr-neutral-3: hsl(220, 14%, 75%);
$clr-neutral-4: hsl(223, 64%, 98%);
$clr-neutral-5: hsl(0, 0%, 0%); // 75% opacity for lightbox background
$clr-element-bg: hsl(0, 0%, 100%);
$clr-divisor: hsla(217, 9%, 45%, 0.199);
$clr-warning: #ff0000c5;