@charset "UTF-8";

.product-overview{
    @include flexbox(flex, flex-start, center, none, 80px);
    padding: 4% 10%;

    .product-slider{
        flex-basis: 50%;
        &>header{
            max-width: 700px;
            min-width: 300px;
            img{
                box-shadow: -1px 3px 20px 0px #ff7d1aab;
                border-radius: 10px;
                max-width: 100%;
                min-width: 100%;
                max-height: 100%;
                min-height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
    article{
        flex-basis: 50%;
        h1{
            font-weight: 700;
            font-size: 2.5rem;
            position: relative;
            &::before{
                content: 'SNEAKER COMPANY';
                font-size: .75rem;
                letter-spacing: 1.5px;
                position: absolute;
                top: -25px;
                color: $clr-primary;
            }
        }
        p{
            line-height: .6cm;
            color: $clr-neutral-1;
            margin: 30px 0 20px 0;
            padding-right: 20px;
            font-size: .95rem;
            max-height: 200px;
            overflow: scroll;
            overflow-x: hidden;
        }
        .price{
            font-weight: 700;
            font-size: 1.5rem;
            &::before{
                content: 'Price:';
                font-size: 1.4rem;
                margin-right: 7px;
            }
        }
        footer{
            @include flexbox(flex, flex-start, center, row, 20px);
            font-size: 1.4rem;
            width: 400px;
            margin-top: 30px;
            & > div{
                @include flexbox(flex, flex-start, center, none, 0);
                border-radius: 8px;
                background-color: hsla(220, 14%, 75%, 0.199);
                padding: 15px 0;
                &>span{
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;
                    width: 30px;
                    text-align: center
                }
                &>button{
                    @include flexbox(flex, flex-start, center, none, 0);
                    color: $clr-primary;
                    font-size: .85rem;
                    padding: 0 15px;
                }
            }
            & > button{
                @include flexbox(flex, center, center, row, 10px);
                background-color: $clr-primary;
                box-shadow:0 3px 10px 0px #ff7d1a;
                color: $clr-neutral-4;
                border-radius: 8px;
                font-weight: 700;
                font-size: .90rem;
                padding: 15px 30px;
                width: 100%;
                transition: all 200ms ease-in-out;
                &>svg{
                    font-size: 1.2rem;
                }
                &:active{
                    opacity: .8;
                    transform: scale(98%);
                }
            }
        }
    }
}

@media screen and (min-width: 991px) and (max-width: 1500px){
    .product-overview{
        padding: 5%;
        .product-slider{
            flex-basis: 50%;
        }
    }
}

@media screen and (max-width: 991px){
    .product-overview{
        @include flexbox(flex, flex-start, center, column, 80px);
        padding: 8%;

        .product-slider{
            flex-basis: initial;
            &>header{
                max-width: 600px;
                 min-width: 200px;
            }
        }
        article{
            flex-basis: initial;
            h1{
                font-size: 1.5rem;
            }
            p{
                max-height: 220px;
            }

            footer{
                @include flexbox(flex, flex-start, center, column, 20px);
                width: 100%;
                & > div{
                    @include flexbox(flex, flex-start, center, row, 0);
                    width: 100%;
                    &>span{
                        width: 100%;
                    }
                    &>button{
                        @include flexbox(flex, center, center, none, 0);
                        width: 100%;
                    }
                }
                & > button{
                    width: 100%;
                }
            }
        }
    }
}